h1 {
  font-family: helvetica;
  font-weight: 200;
}

.schedule-button {
  margin: 15px;
  margin-bottom: 0px;
}

.schedule-table {
  margin-left: 15px;
  margin-bottom: 15px;
}

.full-width {
  width: 100%
}

.timeslot-left {
  margin-left: 25px;
}

.timeslot-right {
  margin-right: 25px;
}

.date-row {
  background-color: black;
}

.white {
  color: white;
}

a:hover {
  color: red;
}

.table th, .table td {
     border-top: none !important;
 }

.bottom {
  margin-bottom: 15px;
}
